{% extends "base.html" %}
{% block title %}View Run Commands{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('command') }}">Run Command</a></li>
        <li><a href="{{ url_for('submitted') }}">View Commands</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
{% if output %}
  {% for line in output %}
    {{ line.strip().decode('utf-8') }}
    <br />
  {% endfor %}
{% else %}
  No commmand output
{% endif %}
{% endblock %}
